   <!-- Begin page content -->
<main role="main" class="flex-shrink-0 text-white">
  <div class="container">
    <div class="mt-5 d-flex align-items-center">
        <h1 class="mr-2"><img src="icons/Magic Wand.png"> MissionComplete</h1>
        <a href='/login' class="mr-2 btn btn-sm btn-success">Connexion</a>
        <a href='/register' class="btn btn-sm btn-outline-success">Inscription</a>
    </div>
    <p class="lead">Requetes HTTP, Mongoose avec la base des donnees MongoDB</p>
    <p class="lead">Entrainement nodejs, expressjs, handlebars</p>
    <p>Visitez mon portfolio <a href="http://mohamedaarous.fr">en cliquant ici !</a></p>
  </div>
</main>

<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">Merci pour votre visite</span>
  </div>
</footer>