<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/home"><img src="icons/Magic Wand.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">Users</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/profil">Profil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container py-5">

    <ul class="list-group">
    <li class="list-group-item active">Info user :</li>
    <li class="list-group-item"><strong>User id : </strong>{{id}}</li>
    <li class="list-group-item"><strong>Email : </strong>{{{user}}}</li>
    <li class="list-group-item"><strong>Password : </strong>{{{password}}}</li>
    </ul>

</main>